$burger-size: 50px;

.wp-block-megamenu {
	margin: 0;
	max-width: 100%;

	&,
	&__toggle-wrapper {
		position: relative;
		&.is-hidden {
			display: none;
		}
	}

	/**
	 * The responsive toggle button element
	 *
	 * TODO: provide a way to se the position of the toggle button
	 */
    &__toggle-wrapper {
		height: $burger-size;
    }

	/**
	 * The menu in desktop mode
	 */
	&:not(.is-mobile) {
		.wp-block-megamenu-item {
			&.is-opened {
				.wp-block-megamenu-item__dropdown {
					height: auto;
					overflow: visible;
					opacity: 1;
				}
			}
		}
	}

	/**
	 * The menu in mobile mode
	 */
    &.is-mobile {
        .wp-block-megamenu-menu {
            visibility: hidden;
            height: 0;
            position: absolute;
            top: 100%;
			width: 100%;
			max-width: 100vw;
			overflow: hidden;
            z-index: -10;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 8px 5px 0 rgba(0, 0, 0, .05);
        }

        .wp-block-megamenu-item {
            width: 100%;
        }
    }
}

/**
 * The responsive toggle button element
 */
.wp-block-megamenu__toggle.hamburger {
	display: block;
	width: $burger-size;
	height: $burger-size;
	background: transparent;
	appearance: none;
	border: none;
	cursor: pointer;
	margin: 0 0 0 auto;

	&:before,
	&:after,
	& div {
		background: black;
		content: "";
		display: block;
		height: 4px;
		border-radius: 3px;
		margin: 7px 0;
		transition: 0.5s;
	}

	 &.is-opened {
		&:before {
			transform: translateY(11px) rotate(135deg);
		}

		&:after {
			transform: translateY(-11px) rotate(-135deg);
		}

		div {
			transform: scale(0);
		}
	}
}
