/**
 *  The megamenu style
 */

header {
	/* Hamburger button styles */
	--megamenu--hamburger-width: 42px;
	--megamenu--responsive--internal-padding: var(--megamenu--hamburger-width) calc(var(--megamenu--hamburger-width) * 0.5);

	/* Toggle button styles */
	--megamenu--toggle-size: 24px;
	--megamenu--toggle-margin: 4px;
}

@import "../style/vars";
@import "../style/base";
@import "../style/navigation";
@import "../style/hamburger";
@import "../style/responsive";
@import "../style/megamenu";
@import "../style/categories";
