/**
 * The mobile style for the category plugin @vsge-importer
 */
.wp-block-megamenu.is-mobile {

	&.is-opened {
		&:before {
			content: '';
			position: fixed;
			display: block;
			pointer-events: none;
			z-index: 990;
			top: $size__nav-height;
			bottom: 0;
			left: 0;
			right: -100%;
			height: 100%;
			width: 200%;
			background: rgb(0 0 0 / 50%);
		}
	}

	.wp-block-megamenu-item {
		display: block;

		.wp-block-megamenu-item__dropdown li {
			text-align: center;
			padding: 12px 0;
		}

		.wp-block-woocommerce-product-categories,
		.wp-block-megamenu-item__dropdown {
			width: 100%;
		}

		.wp-block-megamenu-item__dropdown.is-active .vsge-product-categories-list--depth-0 {
			text-align: left;
			opacity: 1;
			transform: translateX(0);
			flex-direction: column;
		}

		// the category icons are in position x -60px
		.vsge-product-categories-list {
			padding-left: 96px;
			padding-right: 24px;
			box-sizing: border-box;

			@media #{$mq__responsive_breakpoint} {
				overflow-y: auto;

				.vsge-product-categories-list-item__image {
					display: flex;
					height: 48px;
					width: 48px;
					margin-left: 0;
					justify-content: center;
					align-items: center;

					img {
						object-fit: contain;
						width: 30px !important;
						height: 30px !important;
					}
				}
			}

			.wp-block-megamenu-item__text {
				font-style: normal;
				font-weight: 500;
				text-transform: uppercase;
			}

			li {
				align-items: start;

				li {
					padding-left: 36px;
				}
			}

			.vsge-product-categories-list-item__image {
				object-fit: contain;
				border: inherit;
				position: inherit;
				justify-content: center;
			}

			.vsge-product-categories-list-item__title {
				display: flex;
				align-items: center;
			}

			.vsge-product-categories-list {
				z-index: 1007;
				height: 100vh;

				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				padding: 0 24px 0 40px;
			}

			@media #{$mq__smallphone} {
				.vsge-product-categories-list-item__image {
					align-items: center;
					display: none;
				}
			}
		}
	}
}
