

// the main menu base style
.wp-block-megamenu {
	// hide the megamenu while loading to avoid page shifting
	@media (max-width: 1023px) {
		&:not(.is-initialized) .wp-block-megamenu-menu > .wp-block-group {
			display: none;
		}
	}

	.wp-block-megamenu-menu {
		background-color: var(--wp--preset--color--white);
	}

	.wp-block-megamenu-item__link {
		@media (max-width: 1023px) {
			justify-content: start !important;
		}
	}

	@media (max-width: 1023px) {
		button#pls-language-switcher {
			padding: 16px 15px 0;
			min-height: 24px;
			display: flex;
			width: 100%;
			align-items: center;
			text-transform: uppercase;
			justify-content: flex-start;
			border-top: 1px solid #eee;
		}
	}
}

.wp-block-megamenu-item {
	:focus-visible {
		outline: 2px solid var(--wp--preset--color--black);
	}

	.wp-block-megamenu-item__dropdown {
		/**
		 * The megamenu product section style
		 */
		.vsge-product-categories {
			> ul {
				padding-left: 70px;
				padding-right: 70px;
				column-count: 3;

				@media (max-width: 1200px) {
					column-count: 2;
				}

				@media (max-width: 800px) {
					column-count: 1;

					li {
						width: 100%;
						padding: 12px 0;
					}
				}
			}

			.vsge-product-categories-list-item__image {
				object-fit: contain;
				position: absolute;
				margin-left: -54px;
				margin-right: 15px;
				vertical-align: text-top;
				border: inherit;
			}
		}

		ul {
			margin: 0 0 var(--wp--preset--spacing--60);
			list-style-type: none;
		}

		li {
			width: 100%;
			max-width: $size__nav-width;
			margin: 0;
			padding: 0;
			break-inside: avoid;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		li.vsge-product-categories-list-item a {
			font-weight: 600;
		}

		a {
			white-space: nowrap;
			box-sizing: border-box;
		}

		.vsge-product-categories-list--depth-1 li.vsge-product-categories-list-item a {
			font-weight: 400;
		}
	}
}
