// 👇 the first element inside the component
.wp-block-megamenu__content {

	.wp-block-megamenu-item {

		&.is-opened {
			.wp-block-megamenu-item__dropdown {
				min-height: 50px;
				overflow: visible;
				height: auto;
				max-height: 100vh;
			}
		}

		&.has-child {
			cursor: pointer;
		}
	}

	.wp-block-megamenu-item__dropdown {
		position: absolute;
		top: 100%;
		height: 0;
		z-index: 10;
		overflow: hidden;
		max-height: 0;
		width: 100%;
		background: #fff;

		.block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
			max-width: 100%;
		}
	}
}
