/**
 *  The megamenu style
 */
header {
	--megamenu--hamburger-width: 42px;
	--megamenu--responsive--internal-padding: calc(var(--megamenu--hamburger-width) * 2) var(--megamenu--hamburger-width);
}

.wp-block-megamenu {

	/**
	 * The editor style
	 */
	.block-editor-block-list__layout .block-editor-block-list__block {
		position: unset;
	}

	.block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: 100%;
	}
}

body.no-scroll {
	height: 100vh;
	height: -webkit-fill-available;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
}
