.wp-block-megamenu .wp-block-megamenu-item {

    &__dropdown {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		height: auto;
		max-height: 0;
		overflow: hidden;
		z-index: 1002;
        box-shadow: 0 5px 30px -20px rgba(0, 0, 0, 1);
        box-sizing: border-box;

        &:after,
        &:before {
            display: table;
            content: '';
            clear: both;
        }
    }

	&__link {
		padding: 10px 15px;
		min-height: 24px;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	&.has-children .wp-block-megamenu-item__link {
		display: flex;
		align-items: center;
	}

    &__toggle {
        display: block;
        padding: 0;
        background: transparent;
        border: 0;
        box-shadow: none;
        color: inherit;
        margin: 0;
        outline: none;
		vertical-align: middle;

        &:active,
        &:focus {
            outline: none;
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
            color: inherit;
            background: inherit;
            box-shadow: none;
        }
    }
}
