.wp-block-megamenu {

	.wp-block-megamenu-item {

		&.has-child {
			cursor: pointer;
		}

		/**
		 *  Dropdown
		 */
		&__dropdown {
			position: absolute;
			z-index: 1001;
			top: 100%;
			left: 0;
			right: 0;

			overflow: hidden;
			max-height: 0;
			width: 100%;

			opacity: 0;
			height: auto;
			background: var(--wp--preset--color--white);
			box-shadow: 0 8px 40px -30px rgba(0, 0, 0, 1);
			box-sizing: border-box;

			&::after,
			&::before {
				display: table;
				content: "";
				clear: both;
			}
		}

		&.is-opened {
			overflow: visible;

			.wp-block-megamenu-item__dropdown {
				overflow: visible;
				max-height: 100vh;
				opacity: 1;
			}
		}


		/**
		 *  the menu item link (or text, if the menu has not a link)
		 */
		&__link {
			padding: 10px 15px;
			// the chevron icon is 24px height so we need to make the line-height at least 24px to avoid misalignment
			min-height: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		/**
		 * the chevron icon
		 */
		&__toggle {
			display: block;
			padding: 0;
			background: transparent;
			border: 0;
			box-shadow: none;
			color: inherit;
			margin: 0;
			outline: none;

			&:active,
			&:focus {
				outline: none;
				text-decoration: none;
			}

			&:hover {
				text-decoration: none;
				color: inherit;
				background: inherit;
				box-shadow: none;
			}
		}
	}

	/**
	 * The menu in desktop mode
	 */
	&:not(.is-mobile) {

		.wp-block-megamenu-item {

			&.is-opened {

				.wp-block-megamenu-item__dropdown {
					height: auto;
					opacity: 1;
				}
			}
		}
	}

	/**
	 * The menu in mobile mode
	 */
	&.is-mobile {

		> .wp-block-megamenu-menu {
			transition: 500ms box-shadow;
			box-shadow: 0 0 0 -120px rgb(0, 0, 0, 0), -2px 0 16px -6px rgb(0, 0, 0, 0);
		}

		&,
		.wp-block-megamenu-item__dropdown {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1002;
			display: flex;
			height: 100vh;
			max-height: 100vh;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			transition: 350ms transform, 100ms opacity;
			box-shadow: inherit;

			.wp-block-megamenu-menu {
				width: calc(100vw - var(--megamenu--hamburger-width) * 2.5);
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				justify-content: center;
				box-sizing: border-box;
				padding: var(--megamenu--responsive--internal-padding) !important;
			}
		}

		.vsge-product-categories-list--depth-1,
		.wp-block-megamenu-item__dropdown {
			pointer-events: none;
			z-index: 1006;
			width: calc(100vw - var(--megamenu--hamburger-width) * 2.5);
			max-width: 100%;
			overflow: visible;
			opacity: 0;
			transform: translateX(-100%);
			background: var(--megamenu--background-color, #fff);
		}

		// the megamenu is opened
		&.is-opened {
			overflow: visible;

			.wp-block-megamenu-item > .wp-block-megamenu-item__dropdown {
				pointer-events: auto;
			}

			> .wp-block-megamenu-menu {
				box-shadow: 80px 0 150px -120px rgb(0, 0, 0), -2px 0 16px -6px rgba(0, 0, 0, 0.8);
			}
		}

		// the megamenu item is opened
		.is-opened {
			> .wp-block-megamenu-item__dropdown {
				transform: translateX(0);
				opacity: 1;
				pointer-events: auto;
			}
		}

		.vsge-product-categories .vsge-product-categories-list-item.has-children.is-opened {
			> .vsge-product-categories-list--depth-1 {
				transform: translateX(0);
				opacity: 1;
				pointer-events: auto;
			}
		}

		.wp-block-megamenu-item__dropdown .wp-block-group {
			overflow: auto;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
		}

		// fill the height of the menu with the content
		.wp-block-megamenu-menu > .is-layout-flex {
			height: 100%;
			align-content: space-between;
			flex-direction: column;
		}

		.wp-block-megamenu-item {
			width: 100%;
		}
	}
}
