.wp-block-megamenu .wp-block-megamenu-item {

    &__dropdown {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		height: 0;
		overflow: hidden;
		z-index: 100;
        box-shadow: 0 5px 30px -20px rgba(0, 0, 0, 1);
        box-sizing: border-box;

        &:after,
        &:before {
            display: table;
            content: '';
            clear: both;
        }
    }

	&.has-children {
		.wp-block-megamenu-item__link a {
			display: flex;
		}
	}

    &__link {

        a {
            padding: 10px 15px;
        }
    }

    &__toggle {
        display: inline-block;
        padding: 0;
        background: transparent;
        border: 0;
        box-shadow: none;
        color: inherit;
        margin: 0;
        outline: none;

        &:before,
        &:after {
            display: none;
        }

        &:active,
        &:focus {
            outline: none;
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
            color: inherit;
            background: inherit;
            box-shadow: none;
        }
    }
}
